body{
  background-image: url('https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F6fdb3417-25d0-4aa1-bd3c-7f1c0b88b097_1600x961.heic'); 
  background-repeat: no-repeat;
  background-size: cover;
}

img{
  height: 25rem;
  width: auto;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6.5rem auto;
  padding: 20px 20px;
  width: 80%;
  background-color: rgba(194, 194, 194, 0.8);
  border-radius: 15px;
}
.container p{
  margin: 1.5rem 1.5rem;
}

.navBar{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  color: white;
}

.navBar a{
  color: #eee;
  text-decoration: none;
  padding: 10px 80px;
  border-radius: 5px;
  transition: background-color 0.5s ease; 
}

.navBar a:hover{
  background-color: #4a4a4a;
}

.bookContainer{
  display: flex;
  margin: auto 15px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.bookWrapper{
  background-color: rgba(194, 194, 194, 0.8);
  margin: 10px 20px;
  padding: 1rem;
  border-radius: 15px;
}
